In [1]:
# import datetime

In [2]:
# from dateutil.relativedelta import relativedelta

In [3]:
# import ipywidgets as widgets

In [4]:
# from IPython.display import display

In [1]:
# import numpy as np
import pandas as pd

In [4]:
file = pd.ExcelFile(r"C:\Users\3876yl\OneDrive - BP\Documents\ACG_decline_curve_analysis - Copy.xlsx")

In [6]:
with file as xls:
    df = pd.read_excel(xls)

In [5]:
file.sheet_names

['test_data', 'Sheet1']

In [6]:
# from plotly.subplots import make_subplots
# import plotly.graph_objects as go

In [7]:
import sys
sys.path.append(r'C:\Users\3876yl\Documents\prodpy')
# sys.path.append(r'C:\Users\user\Documents\GitHub\prodpy')

In [8]:
from prodpy import timeview as tv

2024-06-03 11:47:28.710 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager

In [9]:
# from prodpy import decline as dc

In [10]:
# df = pd.read_excel(r"C:\Users\3876yl\Downloads\ACG_dashboard_XL-4Q-2023.xlsx")
df = pd.read_excel(r"C:\Users\3876yl\OneDrive - BP\Documents\ACG_decline_curve_analysis.xlsx")
# df = pd.read_excel(r"C:\Users\user\Downloads\ACG_decline_curve_analysis.xlsx")

In [11]:
df.columns

Index(['Field', 'Platform', 'Flank', 'Depletion Region', 'Well', 'Date',
       'Start Date', 'End Date', 'Duty', 'DTS', 'DHPTG', 'Completion Zones',
       'Actual Oil, Mstb/d', 'Actual Gas, MMscf/d', 'Actual Water, Mstb/d',
       'Actual GI, MMscf/d', 'Actual WI, Mstb/d', 'Actual Gas Lift, MMscf/d'],
      dtype='object')

In [22]:
data = tv.Outlook(df,datehead='Date')

In [23]:
data.items()

[]

In [27]:
data.toview().frame

,Aggregate,Date,"Actual GI, MMscf/d","Actual Oil, Mstb/d","Actual Gas Lift, MMscf/d","Actual Water, Mstb/d","Actual Gas, MMscf/d","Actual WI, Mstb/d"
0,,1997-11-30,0.000000,3.772226,0,0.000000,3.115728,0.000000
1,,1997-12-31,0.000000,8.208898,0,0.000000,6.620418,0.000000
2,,1998-01-31,0.000000,10.172209,0,0.000000,8.819779,0.000000
3,,1998-02-28,0.000000,9.805701,0,0.000000,9.550603,0.000000
4,,1998-03-31,0.000000,23.189113,0,0.000000,18.891474,0.000000
...,...,...,...,...,...,...,...,...
298,,2022-09-30,976.607142,399.457783,0,156.823667,1214.132654,346.589064
299,,2022-10-31,985.973021,404.120207,0,161.653585,1240.519767,331.247997
300,,2022-11-30,884.976364,408.296422,0,160.314460,1308.835469,389.639127
301,,2022-12-31,1028.372861,407.537273,0,155.977167,1349.108209,400.724753
302,,2023-01-31,1029.308325,392.121708,0,156.798825,1323.066911,406.011176