In [1]:
import datetime

In [2]:
from dateutil.relativedelta import relativedelta

In [3]:
# import ipywidgets as widgets

In [4]:
# from IPython.display import display

In [5]:
import numpy as np
import pandas as pd

In [6]:
# from plotly.subplots import make_subplots
# import plotly.graph_objects as go

In [7]:
import sys
sys.path.append(r'C:\Users\3876yl\Documents\prodpy')
# sys.path.append(r'C:\Users\user\Documents\GitHub\prodpy')

In [8]:
from prodpy import timeview as tv
from prodpy import decline as dc

2024-05-30 09:40:30.710 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager

In [9]:
df = pd.read_excel(r"C:\Users\3876yl\Downloads\ACG_dashboard_XL-4Q-2023.xlsx")
# df = pd.read_excel(r"C:\Users\user\Downloads\ACG_decline_curve_analysis.xlsx")

In [10]:
df.columns

Index(['Field', 'Platform', 'Flank', 'Depletion Region', 'Well', 'Date',
       'X coor, m', 'Y coor, m', 'Start Date', 'End Date', 'Duty', 'Slot N',
       'Completion Type', 'DTS', 'DHPTG', 'Completion Zones',
       'Actual Oil, Mstb/d', 'Actual Gas, MMscf/d', 'Actual Water, Mstb/d',
       'Actual GI, MMscf/d', 'Actual WI, Mstb/d', 'Actual Gas Lift, MMscf/d',
       'Sim Oil Rate, Mstb/d', 'Sim Gas Rate, MMscf/d',
       'Sim Water Rate, Mstb/d', 'Sim GI, MMscf/d', 'Sim WI, Mstb/d',
       'Sim GL, MMscf/d', 'Sim AVG PRES, psi', 'Test date', 'Test Type',
       'Depth of first perf, TVDSCS m', 'Actual FBHP@first perf depth, psia',
       'Actual Pres@first perf depth, psia', 'Actual FBHP@datum, psia',
       'Actual Pres@datum, psia', 'K, mD', 'Kh, mD m', 'Skin',
       'PI/II, stb/d/psi (or scf/d/psi)', 'Test Start Date', 'Test Choke Size',
       'Test Oil Rate (Mstb/d)', 'Test Gas Rate (MMscf/d)',
       'Test Water Rate (Mstb/d)', 'Test Gas Lift Rate (MMscf/d)',
       'Test Water Cut (%)', 'Test Max Sand Rate (pptb)', 'Test GOR (scf/stb)',
       'Test BHP (psi)', 'Test BHT (C deg)', 'Test WHP (psi)',
       'Test WHT (C deg)', 'Test H2S (ppm)', 'Active', 'Inactive',
       'Allocation Date', 'Bal_8_Oil_AF, %', 'Bal_10_Oil_AF, %',
       'Per_A_Oil_AF, %', 'Per_B_Oil_AF, %', 'Per_C_Oil_AF, %',
       'Per_D_Oil_AF, %', 'Per_E_Oil_AF, %', 'Bal_8_Gas_AF, %',
       'Bal_10_Gas_AF, %', 'Per_A_Gas_AF, %', 'Per_B_Gas_AF, %',
       'Per_C_Gas_AF, %', 'Per_D_Gas_AF, %', 'Per_E_Gas_AF, %',
       'Bal_8_Water_AF, %', 'Bal_10_Water_AF, %', 'Per_A_Water_AF, %',
       'Per_B_Water_AF, %', 'Per_C_Water_AF, %', 'Per_D_Water_AF, %',
       'Per_E_Water_AF, %', 'Bal_8_Inj_AF, %', 'Bal_10_Inj_AF, %',
       'Per_A_Inj_AF, %', 'Per_B_Inj_AF, %', 'Per_C_Inj_AF, %',
       'Per_D_Inj_AF, %', 'Per_E_Inj_AF, %', 'Status'],
      dtype='object')

In [11]:
data = tv.Outlook(df)

In [13]:
data = data(datehead='Date')

In [16]:
frame = data.get(['Date','Actual Oil, Mstb/d'])

In [18]:
group = frame.groupby(['Date'])

In [19]:
frame = group.sum(['Actual Oil, Mstb/d'])

In [20]:
frame = frame.reset_index()

In [21]:
frame

          Date  Actual Oil, Mstb/d
0   1997-01-31            0.000000
1   1997-02-28            0.000000
2   1997-03-31            0.000000
3   1997-04-30            0.000000
4   1997-05-31            0.000000
..         ...                 ...
319 2023-08-31          355.944522
320 2023-09-30          349.866074
321 2023-10-31          348.219807
322 2023-11-30          348.437351
323 2023-12-31          349.048672

[324 rows x 2 columns]

In [22]:
dca = dc.Analysis('Date','Actual Oil, Mstb/d')

In [23]:
dca = dca(frame)

In [24]:
dca.fit([datetime.date(2021,1,1),datetime.date(2021,12,31)],date0=datetime.date(2021,1,1))

Model(mode='Exponential', exponent=0.0, date0=datetime.date(2021, 1, 1), rate0=480.27249269905724, decline0=0.00024771501087880537)

In [25]:
dca.fit([datetime.date(2022,1,1),datetime.date(2022,12,31)],date0=datetime.date(2022,1,1))

Model(mode='Exponential', exponent=0.0, date0=datetime.date(2022, 1, 1), rate0=436.05208711697026, decline0=0.00025234120831294616)

In [26]:
dca.fit([datetime.date(2023,1,1),datetime.date(2023,12,31)],date0=datetime.date(2023,1,1))

Model(mode='Exponential', exponent=0.0, date0=datetime.date(2023, 1, 1), rate0=389.89813871556254, decline0=0.00036636853546795513)

In [29]:
0.00036636853546795513*365

0.13372451544580363

In [27]:
view = data.view('Field','Flank')

In [28]:
view.frame['Field_Flank']

0       Azeri Crest
1       Azeri Crest
2       Azeri Crest
3       Azeri Crest
4       Azeri Crest
           ...
1626      DWG South
1627      DWG South
1628      DWG South
1629      DWG South
1630      DWG South
Name: Field_Flank, Length: 1631, dtype: object

In [29]:
table = tv.Tableau(view.frame)(view.leadhead,view.datehead)

In [30]:
table.frame

,Field_Flank,Date,"Actual Oil, Mstb/d","Actual Gas, MMscf/d","Actual Water, Mstb/d","Actual GI, MMscf/d","Actual WI, Mstb/d","Actual Gas Lift, MMscf/d"
0,Azeri Crest,2006-05-31,0.000000,0.000000,0.000000,15.887982,0.000000,0
1,Azeri Crest,2006-06-30,0.000000,0.000000,0.000000,124.617607,0.000000,0
2,Azeri Crest,2006-07-31,0.000000,0.000000,0.000000,203.853252,0.000000,0
3,Azeri Crest,2006-08-31,0.000000,0.000000,0.000000,217.152747,0.000000,0
4,Azeri Crest,2006-09-30,0.000000,0.000000,0.000000,253.632928,0.000000,0
...,...,...,...,...,...,...,...,...
1626,DWG South,2022-09-30,30.989613,37.896273,31.706126,0.000000,106.445853,0
1627,DWG South,2022-10-31,30.814435,56.366601,28.267768,0.000000,102.101556,0
1628,DWG South,2022-11-30,34.252774,80.257000,28.825410,0.000000,104.472564,0
1629,DWG South,2022-12-31,35.041143,79.372572,27.191191,0.000000,106.022356,0
1630,DWG South,2023-01-31,31.610911,64.891394,26.671874,0.000000,108.564373,0

In [32]:
table.mindate

datetime.date(1997, 11, 29)

In [33]:
view = table.view('Azeri Crest')

In [34]:
view.frame

,Field_Flank,Date,"Actual Oil, Mstb/d","Actual Gas, MMscf/d","Actual Water, Mstb/d","Actual GI, MMscf/d","Actual WI, Mstb/d","Actual Gas Lift, MMscf/d"
0,Azeri Crest,2006-05-31,0.0,0.0,0.0,15.887982,0.0,0
1,Azeri Crest,2006-06-30,0.0,0.0,0.0,124.617607,0.0,0
2,Azeri Crest,2006-07-31,0.0,0.0,0.0,203.853252,0.0,0
3,Azeri Crest,2006-08-31,0.0,0.0,0.0,217.152747,0.0,0
4,Azeri Crest,2006-09-30,0.0,0.0,0.0,253.632928,0.0,0
...,...,...,...,...,...,...,...,...
193,Azeri Crest,2022-09-30,0.0,0.0,0.0,594.230627,0.0,0
194,Azeri Crest,2022-10-31,0.0,0.0,0.0,604.947020,0.0,0
195,Azeri Crest,2022-11-30,0.0,0.0,0.0,531.777285,0.0,0
196,Azeri Crest,2022-12-31,0.0,0.0,0.0,626.596779,0.0,0
197,Azeri Crest,2023-01-31,0.0,0.0,0.0,627.305801,0.0,0

In [35]:
view.limit

(datetime.date(2006, 5, 30), datetime.date(2023, 2, 1))

In [14]:
dca = dc.Analysis('Date','Actual Oil, Mstb/d')

In [15]:
relativedelta(months=6)

relativedelta(months=+6)

In [16]:
dca.get_dateL(frame['Date'])+relativedelta(months=6)

datetime.date(2023, 7, 31)

In [20]:
def slider(months):

    model = dca(frame).fit(
        mode = 'Harmonic',
        start = datetime.date(2005,2,1)+relativedelta(months=months),
        end   = datetime.date(2023,2,1),
        # start = datetime.date(2010,1,1),
        # end   = datetime.date(2023,2,1),
    )
    
    print(model)
    
    curve = dca(frame).run(
        model,
        end   = datetime.date(2025,1,1),
    )

    fig = go.Figure()
    
    data1 = go.Scatter(x=frame['Date'],y=frame['Actual Oil, Mstb/d'],mode='markers')
    
    fig.add_trace(data1)
    
    data2 = go.Scatter(x=curve['dates'],y=curve['rates'],mode='lines',line=dict(color="red"))
    
    fig.add_trace(data2)

    fig.show()

In [21]:
w = widgets.interact(slider,months=(0,200))

interactive(children=(IntSlider(value=100, description='months', max=200), Output()), _dom_classes=('widget-in…

In [19]:
# fig.update_layout(
#     height = 1000,
#     title = 'None Rates',
#     xaxis_title = 'Date Time',
#     yaxis_title = 'Actual Oil, Mstb/d',
    
#     )