In [1]:
import datetime

In [2]:
from dateutil.relativedelta import relativedelta

In [3]:
import ipywidgets as widgets

In [4]:
from IPython.display import display

In [5]:
import numpy as np
import pandas as pd

In [6]:
# from plotly.subplots import make_subplots
import plotly.graph_objects as go

In [7]:
import sys
sys.path.append(r'C:\Users\3876yl\Documents\prodpy')
# sys.path.append(r'C:\Users\user\Documents\GitHub\prodpy')

In [8]:
from prodpy import timeview as tv
from prodpy import decline as dc

2024-05-22 16:28:41.835 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager

In [9]:
data = tv.Outlook()

In [10]:
data

In [11]:
data.datetimes

[]

In [12]:
data.numbers

[]

In [13]:
data.nominals

[]

In [14]:
table = tv.Tableau(data.frame)

In [15]:
table.empty

True

In [16]:
print(table.leadhead)

None

In [17]:
table.view('Name')

In [18]:
table.items

[]

In [19]:
table.maxdate

datetime.date(2030, 1, 1)

In [20]:
table.limit

(datetime.date(2020, 1, 1), datetime.date(2030, 1, 1))

In [21]:
df = pd.read_excel(r"C:\Users\3876yl\OneDrive - BP\Documents\ACG_decline_curve_analysis.xlsx")
# df = pd.read_excel(r"C:\Users\user\Downloads\ACG_decline_curve_analysis.xlsx")

In [22]:
df.columns

Index(['Field', 'Platform', 'Flank', 'Depletion Region', 'Well', 'Date',
       'Start Date', 'End Date', 'Duty', 'DTS', 'DHPTG', 'Completion Zones',
       'Actual Oil, Mstb/d', 'Actual Gas, MMscf/d', 'Actual Water, Mstb/d',
       'Actual GI, MMscf/d', 'Actual WI, Mstb/d', 'Actual Gas Lift, MMscf/d'],
      dtype='object')

In [23]:
data = tv.Outlook(df)

In [24]:
data.get_leads('Field')

0        Chirag
1        Chirag
2        Chirag
3        Chirag
4        Chirag
          ...
25965    Chirag
25966    Chirag
25967    Chirag
25968    Chirag
25969    Chirag
Length: 25970, dtype: object

In [25]:
data(datehead='Date')

In [26]:
data.dates

0       1997-11-30
1       1997-12-31
2       1998-01-31
3       1998-02-28
4       1998-03-31
           ...
25965   2022-11-30
25966   2022-12-31
25967   2023-01-31
25968   2022-11-30
25969   2022-12-31
Name: Date, Length: 25970, dtype: datetime64[ns]

In [27]:
view = data.view('Field','Flank')

In [28]:
view.frame['Field_Flank']

0       Azeri Crest
1       Azeri Crest
2       Azeri Crest
3       Azeri Crest
4       Azeri Crest
           ...
1626      DWG South
1627      DWG South
1628      DWG South
1629      DWG South
1630      DWG South
Name: Field_Flank, Length: 1631, dtype: object

In [29]:
table = tv.Tableau(view.frame)(view.leadhead,view.datehead)

In [30]:
table.frame

,Field_Flank,Date,"Actual Oil, Mstb/d","Actual Gas, MMscf/d","Actual Water, Mstb/d","Actual GI, MMscf/d","Actual WI, Mstb/d","Actual Gas Lift, MMscf/d"
0,Azeri Crest,2006-05-31,0.000000,0.000000,0.000000,15.887982,0.000000,0
1,Azeri Crest,2006-06-30,0.000000,0.000000,0.000000,124.617607,0.000000,0
2,Azeri Crest,2006-07-31,0.000000,0.000000,0.000000,203.853252,0.000000,0
3,Azeri Crest,2006-08-31,0.000000,0.000000,0.000000,217.152747,0.000000,0
4,Azeri Crest,2006-09-30,0.000000,0.000000,0.000000,253.632928,0.000000,0
...,...,...,...,...,...,...,...,...
1626,DWG South,2022-09-30,30.989613,37.896273,31.706126,0.000000,106.445853,0
1627,DWG South,2022-10-31,30.814435,56.366601,28.267768,0.000000,102.101556,0
1628,DWG South,2022-11-30,34.252774,80.257000,28.825410,0.000000,104.472564,0
1629,DWG South,2022-12-31,35.041143,79.372572,27.191191,0.000000,106.022356,0
1630,DWG South,2023-01-31,31.610911,64.891394,26.671874,0.000000,108.564373,0

In [32]:
table.mindate

datetime.date(1997, 11, 29)

In [33]:
view = table.view('Azeri Crest')

In [34]:
view.frame

,Field_Flank,Date,"Actual Oil, Mstb/d","Actual Gas, MMscf/d","Actual Water, Mstb/d","Actual GI, MMscf/d","Actual WI, Mstb/d","Actual Gas Lift, MMscf/d"
0,Azeri Crest,2006-05-31,0.0,0.0,0.0,15.887982,0.0,0
1,Azeri Crest,2006-06-30,0.0,0.0,0.0,124.617607,0.0,0
2,Azeri Crest,2006-07-31,0.0,0.0,0.0,203.853252,0.0,0
3,Azeri Crest,2006-08-31,0.0,0.0,0.0,217.152747,0.0,0
4,Azeri Crest,2006-09-30,0.0,0.0,0.0,253.632928,0.0,0
...,...,...,...,...,...,...,...,...
193,Azeri Crest,2022-09-30,0.0,0.0,0.0,594.230627,0.0,0
194,Azeri Crest,2022-10-31,0.0,0.0,0.0,604.947020,0.0,0
195,Azeri Crest,2022-11-30,0.0,0.0,0.0,531.777285,0.0,0
196,Azeri Crest,2022-12-31,0.0,0.0,0.0,626.596779,0.0,0
197,Azeri Crest,2023-01-31,0.0,0.0,0.0,627.305801,0.0,0

In [35]:
view.limit

(datetime.date(2006, 5, 30), datetime.date(2023, 2, 1))

In [14]:
dca = dc.Analysis('Date','Actual Oil, Mstb/d')

In [15]:
relativedelta(months=6)

relativedelta(months=+6)

In [16]:
dca.get_dateL(frame['Date'])+relativedelta(months=6)

datetime.date(2023, 7, 31)

In [20]:
def slider(months):

    model = dca(frame).fit(
        mode = 'Harmonic',
        start = datetime.date(2005,2,1)+relativedelta(months=months),
        end   = datetime.date(2023,2,1),
        # start = datetime.date(2010,1,1),
        # end   = datetime.date(2023,2,1),
    )
    
    print(model)
    
    curve = dca(frame).run(
        model,
        end   = datetime.date(2025,1,1),
    )

    fig = go.Figure()
    
    data1 = go.Scatter(x=frame['Date'],y=frame['Actual Oil, Mstb/d'],mode='markers')
    
    fig.add_trace(data1)
    
    data2 = go.Scatter(x=curve['dates'],y=curve['rates'],mode='lines',line=dict(color="red"))
    
    fig.add_trace(data2)

    fig.show()

In [21]:
w = widgets.interact(slider,months=(0,200))

interactive(children=(IntSlider(value=100, description='months', max=200), Output()), _dom_classes=('widget-in…

In [19]:
# fig.update_layout(
#     height = 1000,
#     title = 'None Rates',
#     xaxis_title = 'Date Time',
#     yaxis_title = 'Actual Oil, Mstb/d',
    
#     )