In [1]:
import datetime

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
from plotly.subplots import make_subplots
import plotly.graph_objects as go

In [5]:
import sys
sys.path.append(r'C:\Users\3876yl\Documents\prodpy')
# sys.path.append(r'C:\Users\user\Documents\GitHub\prodpy')

In [6]:
from prodpy import timeview as tv
from prodpy import decline as dc

2024-05-14 17:08:43.520 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager

In [7]:
df = pd.read_excel(r"C:\Users\3876yl\OneDrive - BP\Documents\ACG_decline_curve_analysis.xlsx")
# df = pd.read_excel(r"C:\Users\user\Downloads\ACG_decline_curve_analysis.xlsx")

In [8]:
df.columns

Index(['Field', 'Platform', 'Flank', 'Depletion Region', 'Well', 'Date',
       'Start Date', 'End Date', 'Duty', 'DTS', 'DHPTG', 'Completion Zones',
       'Actual Oil, Mstb/d', 'Actual Gas, MMscf/d', 'Actual Water, Mstb/d',
       'Actual GI, MMscf/d', 'Actual WI, Mstb/d', 'Actual Gas Lift, MMscf/d'],
      dtype='object')

In [25]:
df.title = 'cav'

In [29]:
df.columns

Index(['Field', 'Platform', 'Flank', 'Depletion Region', 'Well', 'Date',
       'Start Date', 'End Date', 'Duty', 'DTS', 'DHPTG', 'Completion Zones',
       'Actual Oil, Mstb/d', 'Actual Gas, MMscf/d', 'Actual Water, Mstb/d',
       'Actual GI, MMscf/d', 'Actual WI, Mstb/d', 'Actual Gas Lift, MMscf/d',
       'Field Platform'],
      dtype='object')

In [31]:
df.drop(['Field'],axis=1)

,Platform,Flank,Depletion Region,Well,Date,Start Date,End Date,Duty,DTS,DHPTG,Completion Zones,"Actual Oil, Mstb/d","Actual Gas, MMscf/d","Actual Water, Mstb/d","Actual GI, MMscf/d","Actual WI, Mstb/d","Actual Gas Lift, MMscf/d",Field Platform
0,A,South,Ch_SP,A01ST1,1997-11-30,1997-01-01,2005-11-18,Prod,No,Yes,ABCD,3.772226,3.115728,0.000000,0.0,0.000000,0,Chirag A
1,A,South,Ch_SP,A01ST1,1997-12-31,1997-01-01,2005-11-18,Prod,No,Yes,ABCD,7.040225,5.736733,0.000000,0.0,0.000000,0,Chirag A
2,A,South,Ch_SP,A01ST1,1998-01-31,1997-01-01,2005-11-18,Prod,No,Yes,ABCD,4.673162,4.571033,0.000000,0.0,0.000000,0,Chirag A
3,A,South,Ch_SP,A01ST1,1998-02-28,1997-01-01,2005-11-18,Prod,No,Yes,ABCD,3.445680,3.096051,0.000000,0.0,0.000000,0,Chirag A
4,A,South,Ch_SP,A01ST1,1998-03-31,1997-01-01,2005-11-18,Prod,No,Yes,ABCD,6.152513,5.237627,0.000000,0.0,0.000000,0,Chirag A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25965,J,South,WCh_SB10,J30,2022-11-30,2022-04-17,NaT,Prod,Yes,Yes,X,1.681406,2.484517,0.001700,0.0,0.000000,0,Chirag J
25966,J,South,WCh_SB10,J30,2022-12-31,2022-04-17,NaT,Prod,Yes,Yes,X,1.734252,4.882646,0.000453,0.0,0.000000,0,Chirag J
25967,J,South,WCh_SB10,J30,2023-01-31,2022-04-17,NaT,Prod,Yes,Yes,X,1.725023,7.826693,0.000000,0.0,0.000000,0,Chirag J
25968,J,South,Ch_SB10,J31,2022-11-30,2022-11-01,NaT,WI,Yes,Yes,XB,0.000000,0.000000,0.000000,0.0,0.563021,0,Chirag J
25969,J,South,Ch_SB10,J31,2022-12-31,2022-11-01,NaT,WI,Yes,Yes,XB,0.000000,0.000000,0.000000,0.0,0.587117,0,Chirag J

In [9]:
data = tv.Outlook(df)

In [10]:
data.minor('Actual Oil, Mstb/d',None)

['Actual Gas, MMscf/d',
 'Actual Water, Mstb/d',
 'Actual GI, MMscf/d',
 'Actual WI, Mstb/d',
 'Actual Gas Lift, MMscf/d']

In [11]:
data('Date').view('Field','Platform').frame

,Field Platform,Date,"Actual Oil, Mstb/d","Actual Gas, MMscf/d","Actual Water, Mstb/d","Actual GI, MMscf/d","Actual WI, Mstb/d","Actual Gas Lift, MMscf/d"
0,Azeri B,2005-02-28,14.941716,10.463551,0.013523,0.0,0.000000,0
1,Azeri B,2005-03-31,67.047661,46.697971,0.035730,0.0,0.000000,0
2,Azeri B,2005-04-30,66.272300,46.060708,0.052709,0.0,0.000000,0
3,Azeri B,2005-05-31,108.933643,86.013518,0.039977,0.0,0.000000,0
4,Azeri B,2005-06-30,136.323414,120.857721,0.034051,0.0,0.000000,0
...,...,...,...,...,...,...,...,...
1715,DWG H,2022-09-30,0.000000,0.000000,0.000000,0.0,47.372891,0
1716,DWG H,2022-10-31,0.000000,0.000000,0.000000,0.0,50.550318,0
1717,DWG H,2022-11-30,0.000000,0.000000,0.000000,0.0,53.070033,0
1718,DWG H,2022-12-31,0.000000,0.000000,0.000000,0.0,57.254584,0
1719,DWG H,2023-01-31,0.000000,0.000000,0.000000,0.0,48.508749,0

In [12]:
type(df['Date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [22]:
type(df.columns[0])

str

In [13]:
pd.Timestamp(year=2022, month=11, day=10, hour=6).date()

datetime.date(2022, 11, 10)

In [19]:
data.mindate

datetime.date(1997, 11, 29)

In [15]:
# data.maxdate = datetime.date(2023, 1, 31)

In [16]:
fig2 = go.Figure()

print(type(fig2))

<class 'plotly.graph_objs._figure.Figure'>

In [17]:
# fig = make_subplots(rows=2, cols=1)

# data1 = go.Scatter(
#     x = frame.iloc[:,0],
#     y = frame.iloc[:,1],
#     mode = 'markers',
#     # opacity = st.session_state.opacity,
#     )

# fig.add_trace(data1,row=1,col=1)

# data2 = go.Scatter(
#     x = frame.iloc[:,0],
#     y = frame.iloc[:,2],
#     mode = 'lines',
#     line = dict(color="black"),
#     )

# fig.add_trace(data2,row=2,col=1)

# fig.update_layout(
#     height = 1000,
#     title = 'None Rates',
#     xaxis_title = 'Date Time',
#     yaxis_title = 'Actual Oil, Mstb/d',
    
#     )